:root{
    --primary-color: #eac93b;
    --white: #ffffff;
    --text-color: #000;
    --text-color1: #333333;
    --text-color2: #222222;
    --background-body: #fcfcfc;
    --background: #f9f9f9;

    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--background-body);
}

html, body{
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
}

h1{
  font-size: 2.8rem;
}

h2{
  font-size: 2.1rem;
}

h3{
  font-size: 2rem;
}
p, li{
  font-size: 1.5rem;
}
a{
  color: white;
}
a:hover{
  text-decoration: underline;
}



main{
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 30px 3%;

}

li{
  list-style-type: none;
}